[Unit]
Description=Teslamate Mosquitto container
Requires=teslamate-grafana.service
Before=teslamate-grafana.service

[Container]
Exec=mosquitto -c /mosquitto-no-auth.conf
Image=docker.io/library/eclipse-mosquitto:2
Network=podman1
NetworkAlias=mosquitto
Volume=mosquitto-conf:/mosquitto/config
Volume=mosquitto-data:/mosquitto/data
PublishPort=127.0.0.1:1883:1883

[Install]
WantedBy=multi-user.target default.target