{% set defname = 'rustserver' %}
{% set user = salt['pillar.get'](defname ~ ':user',defname) %}
{% set userhomedir = '/home/' ~ user %}

{% set lgsm_os = salt['grains.filter_by'] ({
    'common': {
      'disabled': False,
      'testing': False,
      'user': user,
      'userhomedir': userhomedir,
      'user_present': { 'name': user, 'fullname': 'Rust Server', 'shell': '/bin/bash', 'createhome': True },
      'creates': userhomedir ~ '/serverfiles/server/rustserver/cfg/server.cfg',
      'retry_options': {
        'attempts': 3,
        'until': True,
        'interval': 10,
        'splay': 10,
      },
    },
    'Ubuntu': salt['grains.filter_by']({
      22: {
        'packages': {
          'latest': [ 'bzip2', 'jq', 'lib32gcc-s1', 'lib32stdc++6', 'lib32z1', 'netcat', 'pigz', 'unzip' ],
          'i386' : [ 'libsdl2-2.0-0:i386', 'steamcmd' ],
          },
      },
      24: {
        'packages': {
          'latest': [ 'binutils', 'bzip2', 'jq', 'lib32gcc-s1', 'lib32stdc++6', 'lib32z1', 'pigz', 'unzip' ],
          'i386' : [ 'libsdl2-2.0-0:i386', 'steamcmd' ],
          },
      },
    },
    grain='osmajorrelease',
    default=22),
    'Rocky': salt['grains.filter_by']({
      8: {
        'packages': {
          'latest': [ 'bc', 'bzip2', 'epel-release', 'glibc.i686', 'libstdc++.i686', 'nmap-ncat', 'tmux', 'unzip', 'zlib-devel' ],
          'i386' : [ ],
          },
      },
      9: {
        'packages': {
          'latest': [ 'bc', 'bzip2', 'epel-release', 'glibc.i686', 'libstdc++.i686', 'nmap-ncat', 'tmux', 'unzip', 'zlib-devel' ],
          'i386' : [ ],
          },
      },
    },
    grain='osmajorrelease',
    default=9)
  },
  grain='os',
  default='Ubuntu',
  base='common' )
-%}